/* NAVBAR */
.navbar {
  background: rgb(0, 0, 0);
  box-shadow: 0 1px 10px rgba(0, 0, 0, .7);
}

.nav__link {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  font-weight: 700;
  color: #f4f4f4;
  text-transform: uppercase;
  transition: .7s;
  &:hover {
    color: #fedb72;
  }
}

.navbar-toggler {
  background: #000;
}
