/* NAVBAR */
.navbar {
  background: rgb(0, 0, 0);
  box-shadow: 0 1px 10px rgba(0, 0, 0, .7);
}

.nav__link {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  font-weight: 700;
  color: #f4f4f4;
  text-transform: uppercase;
  transition: .4s;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
    height: 2px;
    width: 0;
    border-bottom: 2px solid #fedb72;
    transition: .4s;
  }

  &:hover {
    color: #fedb72;

    &:after {
      width: 100%;
    }
  }
}

.social__button {
  margin-right: 10px;
}

.social__icon {
  font-size: 16px;
  color: #ffffff;

  &:hover {
    color: #fedb72;
  }
}

.navbar-toggler {
  background: #000;
}
