.about-gym {
  background: #000;
}

.card--elipse {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 277px;
  height: 277px;
  background-color: rgba(254, 219, 114, 0.6);
  border-radius: 50%;
}

.card__description--wrapper {
  margin-left: 22px;
  height: 120px;
  align-self: center;
}

.card__counter {
  align-self: center;
  font-family: Impact, sans-serif;
  font-size: 255px;
  color: #ffffff;
}

.card__description {
  font-family: FranklinGothic, sans-serif;
  font-size: 18px;
  color: #ffffff;

  &--coach {
    position: relative;
    bottom: 7px;
  }
}