.about-spirit-gym {
  background: #121317;
  color: #d3d9df;
}

.about-spirit-container {
  height: 700px;
}

.about-spirit-gym-description {
  font-size: 1.1rem;
  text-align: justify;
}

.video-container {
  height: 280px;
}

.about-title {
  font-size: 1rem;
  font-weight: 700;
}

.about-title-icon {
  margin-right: 1rem;
  font-size: 3rem;
  color: #d3d9df;
}

.about-team {

}

.team-img {
  width: 200px;
  height: 200px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
}

.grey-text {
  color: #777777;
}