.container-for-whom {

}

/* Table */
.table thead th {
  border-bottom: 2px solid rgba(5, 19, 0, 0.7);
}

.table-bordered td, .table-bordered th {
  border: 2px solid rgba(5, 19, 0, 0.7);
}

.my-table-top {
  padding: 10px;
  font-size: 5rem;
}