.pricing-plan {
  padding: 20px 0;
  position: relative;
}

.pricing-plan:before {
  position: absolute;
  width: calc(100% - 75%);
  height: 100%;
  content: '';
  background: #111111;
}

.nav__link__pricing {
  margin-top: 20px;
  padding: 0;
  color: #626262;
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: .3px;
  text-align: left;
  transition: .3s;
}

.nav__link__pricing:hover {
  color: #ffffff;
}

.nav__link__pricing.active {
  padding-left: 10px;
  background: transparent !important;
  border-left: 4px solid #ffffff;
  border-radius: 0;
  font-size: 30px;
  font-weight: 500;
}

.pricing-plan__abonement__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  word-break: break-all;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: .3px;
  text-align: left;
  color: #111111;
}

.abonement__time__start {
  margin-right: 31px;
}

.abonement__time__start, .abonement__time__end {
  font-size: 59px;
  font-weight: 700;
  letter-spacing: normal;
}

.abonement__time__start--part-too, .abonement__time__end--part-too {
  position: relative;
  bottom: 20px;
  font-size: 30px;
}

.abonement__text--title {
  font-size: 17px;
  font-weight: 700;
}

.avatar__wrapper {
  padding: 10px;
}

.avatar__image--mini {
  max-height: 100px;
  max-width: 100px;
}

.coach__name {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 700;
}

.abonement__description {
  font-size: 18px;
  font-weight: 700;
}

.abonement__price__wrapper {
  position: absolute;
  top: 0;
  left: calc(100% - 63%);
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #dfa700;
}

.abonement__price {
  font-size: 40px;
  font-weight: 700;
}

.abonement__price--part-too {
  font-size: 20px;
  font-weight: 700;
}

.abonement__traning-quantity {
  font-size: 18px;
  font-weight: 700;
}

.acceptet__year {
  font-size: 22px;
  font-weight: 700;
}