.pricing-plan {
  overflow-x: hidden;
}

.pricing-plan__row {
  display: flex;
  //flex-wrap: wrap;
}

.pricing-plan__menu {
  flex: 0 0 30%;
  max-width: 30%;
  margin: 0;
  padding: 0;
  background-color: #2b2b2b;
  border-right: 1px solid #e0e0e0;
  list-style-type: none;
}

.pricing-plan__title {
  padding-left: 17px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.menu__button__links {
  padding-left: 17px;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-align: left;
  line-height: 40px;
  margin-bottom: 1px;
  transition: all 0.2s linear;

  &:hover {
    color: #fedb72;
  }
}

.menu__button__links.active {
  background: #d29d41;
  color: #6c411b;
}

.pricing-plan__container {
  padding: 20px;
  flex: 0 0 70%;
  max-width: 70%;
  background: #000;
}

.pricing__plan__container__content {
  display: none;
  color: #ffffff;
}

.pricing__plan__container__content.active {
  display: block;
}

.text-grey {
  color: #ffffff;
}