.card-collapse {
  border: 1px solid #efefef;
  margin-bottom: 1rem;
  border-radius: 1px;
}

.card-collapse-header {
  padding: 1rem;
  border: none;
}

.collapsed-title {
  font-weight: 700;
  color: #343a40;
}

.collapsed-link {
  color: grey;
  border-bottom: 1px dashed #777777;
}

.rotate {
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.rotate.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.card-collapse-body {
  background-color: #ffffff;
}

.btn-show-more {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border: 1px dashed #dddddd;
  border-radius: 1px;
  color: #343a40;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-show-more:hover {
  border: 1px dashed #777777;
}
