body {
  font-family: Open-sans, sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .3px;
}

@import "common/navbar";
@import "common/header";
@import "components/section-title";
@import "section/for_whom";
@import "section/about-us";
@import "section/about-team";
@import "section/about-muay-thai-spirit";
@import "section/pricing-plan";
@import "section/faq";
@import "section/what-they-say-about-us";
@import "components/_owl.carousel.min.css";
@import "components/_owl.theme.default.min.css";
@import "section/muay-spirit-shop";
@import "section/footer-form";
@import "common/footer";